<%= render("header_breadcrumb") %>

<div class="page-content">
    `<%= render("layout_shares/admin/setting_container") %>`
  <!-- /.ace-settings-container -->

  <div class="page-header">
    <h1>
      文章管理
      <small>
        <i class="ace-icon fa fa-angle-double-right"></i>
        文章列表
      </small>
    </h1>
  </div><!-- /.page-header -->

  <div class="row">
    <div class="col-xs-12">
      <!-- PAGE CONTENT BEGINS -->
      <%= render("layout_shares/admin/alert") %>

      <div class="row">
        <div class="col-xs-12">
          <a href="#" class="btn btn-app btn-primary btn-xs radius-4">
            <i class="ace-icon fa fa-pencil-square-o bigger-160"></i>
            写文章
<!--            <span class="badge badge-warning badge-left">11</span>-->
          </a>
          <div class="space"></div>
          <table id="simple-table" class="table  table-bordered table-hover">
            <thead>
            <tr>
              <th class="center">
                <label class="pos-rel">
                  <input type="checkbox" class="ace" />
                  <span class="lbl"></span>
                </label>
              </th>
              <th class="detail-col">Details</th>
              <th>Domain</th>
              <th>Price</th>
              <th class="hidden-480">Clicks</th>

              <th>
                <i class="ace-icon fa fa-clock-o bigger-110 hidden-480"></i>
                Update
              </th>
              <th class="hidden-480">Status</th>

              <th></th>
            </tr>
            </thead>

            <tbody>
            <tr>
              <td class="center">
                <label class="pos-rel">
                  <input type="checkbox" class="ace" />
                  <span class="lbl"></span>
                </label>
              </td>

              <td class="center">
                <div class="action-buttons">
                  <a href="#" class="green bigger-140 show-details-btn" title="Show Details">
                    <i class="ace-icon fa fa-angle-double-down"></i>
                    <span class="sr-only">Details</span>
                  </a>
                </div>
              </td>

              <td>
                <a href="#">ace.com</a>
              </td>
              <td>$45</td>
              <td class="hidden-480">3,330</td>
              <td>Feb 12</td>

              <td class="hidden-480">
                <span class="label label-sm label-warning">Expiring</span>
              </td>

              <td>
                <div class="hidden-sm hidden-xs btn-group">
                  <button class="btn btn-xs btn-success">
                    <i class="ace-icon fa fa-check bigger-120"></i>
                  </button>

                  <button class="btn btn-xs btn-info">
                    <i class="ace-icon fa fa-pencil bigger-120"></i>
                  </button>

                  <button class="btn btn-xs btn-danger">
                    <i class="ace-icon fa fa-trash-o bigger-120"></i>
                  </button>

                  <button class="btn btn-xs btn-warning">
                    <i class="ace-icon fa fa-flag bigger-120"></i>
                  </button>
                </div>

                <div class="hidden-md hidden-lg">
                  <div class="inline pos-rel">
                    <button class="btn btn-minier btn-primary dropdown-toggle" data-toggle="dropdown" data-position="auto">
                      <i class="ace-icon fa fa-cog icon-only bigger-110"></i>
                    </button>

                    <ul class="dropdown-menu dropdown-only-icon dropdown-yellow dropdown-menu-right dropdown-caret dropdown-close">
                      <li>
                        <a href="#" class="tooltip-info" data-rel="tooltip" title="View">
																			<span class="blue">
																				<i class="ace-icon fa fa-search-plus bigger-120"></i>
																			</span>
                        </a>
                      </li>

                      <li>
                        <a href="#" class="tooltip-success" data-rel="tooltip" title="Edit">
																			<span class="green">
																				<i class="ace-icon fa fa-pencil-square-o bigger-120"></i>
																			</span>
                        </a>
                      </li>

                      <li>
                        <a href="#" class="tooltip-error" data-rel="tooltip" title="Delete">
																			<span class="red">
																				<i class="ace-icon fa fa-trash-o bigger-120"></i>
																			</span>
                        </a>
                      </li>
                    </ul>
                  </div>
                </div>
              </td>
            </tr>

            <tr class="detail-row">
              <td colspan="8">
                <div class="table-detail">
                  <div class="row">
                    <div class="col-xs-12 col-sm-12">
                      <div class="space visible-xs"></div>

                      <div class="profile-user-info profile-user-info-striped">
                        <div class="profile-info-row">
                          <div class="profile-info-name"> Username </div>

                          <div class="profile-info-value">
                            <span>alexdoe</span>
                          </div>
                        </div>

                        <div class="profile-info-row">
                          <div class="profile-info-name"> Location </div>

                          <div class="profile-info-value">
                            <i class="fa fa-map-marker light-orange bigger-110"></i>
                            <span>Netherlands, Amsterdam</span>
                          </div>
                        </div>

                        <div class="profile-info-row">
                          <div class="profile-info-name"> Age </div>

                          <div class="profile-info-value">
                            <span>38</span>
                          </div>
                        </div>

                        <div class="profile-info-row">
                          <div class="profile-info-name"> Joined </div>

                          <div class="profile-info-value">
                            <span>2010/06/20</span>
                          </div>
                        </div>

                        <div class="profile-info-row">
                          <div class="profile-info-name"> Last Online </div>

                          <div class="profile-info-value">
                            <span>3 hours ago</span>
                          </div>
                        </div>

                        <div class="profile-info-row">
                          <div class="profile-info-name"> About Me </div>

                          <div class="profile-info-value">
                            <span>Bio</span>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </td>
            </tr>
            </tbody>
          </table>
        </div><!-- /.span -->
      </div><!-- /.row -->

      <div class="row">
        <div class="col-xs-6">
          <div class="dataTables_info" id="dynamic-table_info" role="status" aria-live="polite">第1-1 条记录/共1条</div>
        </div>
        <div class="col-xs-6">
          <div class="dataTables_paginate paging_simple_numbers" id="dynamic-table_paginate">
            <ul class="pagination">
              <li class="paginate_button previous disabled" aria-controls="dynamic-table" tabindex="0" id="dynamic-table_previous">
                <a href="#">上一页</a>
              </li>
              <li class="paginate_button active" aria-controls="dynamic-table" tabindex="0">
                <a href="#">1</a>
              </li>
              <li class="paginate_button " aria-controls="dynamic-table" tabindex="0">
                <a href="#">2</a>
              </li>
              <li class="paginate_button " aria-controls="dynamic-table" tabindex="0">
                <a href="#">3</a>
              </li>
              <li class="paginate_button next" aria-controls="dynamic-table" tabindex="0" id="dynamic-table_next">
                <a href="#">下一页</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <!-- PAGE CONTENT ENDS -->
    </div><!-- /.col -->
  </div><!-- /.row -->
</div><!-- /.page-content -->


<% content_for :extro_scripts do %>
  <script>
      jQuery(function($) {
          //initiate dataTables plugin
          var myTable =
              $('#dynamic-table')
              //.wrap("<div class='dataTables_borderWrap' />")   //if you are applying horizontal scrolling (sScrollX)
                  .DataTable( {
                      bAutoWidth: false,
                      "aoColumns": [
                          { "bSortable": false },
                          null, null,null, null, null,
                          { "bSortable": false }
                      ],
                      "aaSorting": [],


                      //"bProcessing": true,
                      //"bServerSide": true,
                      //"sAjaxSource": "http://127.0.0.1/table.php"	,

                      //,
                      //"sScrollY": "200px",
                      //"bPaginate": false,

                      //"sScrollX": "100%",
                      //"sScrollXInner": "120%",
                      //"bScrollCollapse": true,
                      //Note: if you are applying horizontal scrolling (sScrollX) on a ".table-bordered"
                      //you may want to wrap the table inside a "div.dataTables_borderWrap" element

                      //"iDisplayLength": 50


                      select: {
                          style: 'multi'
                      }
                  } );




          //style the message box
          var defaultCopyAction = myTable.button(1).action();
          myTable.button(1).action(function (e, dt, button, config) {
              defaultCopyAction(e, dt, button, config);
              $('.dt-button-info').addClass('gritter-item-wrapper gritter-info gritter-center white');
          });


          var defaultColvisAction = myTable.button(0).action();
          myTable.button(0).action(function (e, dt, button, config) {

              defaultColvisAction(e, dt, button, config);


              if($('.dt-button-collection > .dropdown-menu').length == 0) {
                  $('.dt-button-collection')
                      .wrapInner('<ul class="dropdown-menu dropdown-light dropdown-caret dropdown-caret" />')
                      .find('a').attr('href', '#').wrap("<li />")
              }
              $('.dt-button-collection').appendTo('.tableTools-container .dt-buttons')
          });

          ////

          setTimeout(function() {
              $($('.tableTools-container')).find('a.dt-button').each(function() {
                  var div = $(this).find(' > div').first();
                  if(div.length == 1) div.tooltip({container: 'body', title: div.parent().text()});
                  else $(this).tooltip({container: 'body', title: $(this).text()});
              });
          }, 500);





          myTable.on( 'select', function ( e, dt, type, index ) {
              if ( type === 'row' ) {
                  $( myTable.row( index ).node() ).find('input:checkbox').prop('checked', true);
              }
          } );
          myTable.on( 'deselect', function ( e, dt, type, index ) {
              if ( type === 'row' ) {
                  $( myTable.row( index ).node() ).find('input:checkbox').prop('checked', false);
              }
          } );




          /////////////////////////////////
          //table checkboxes
          $('th input[type=checkbox], td input[type=checkbox]').prop('checked', false);

          //select/deselect all rows according to table header checkbox
          $('#dynamic-table > thead > tr > th input[type=checkbox], #dynamic-table_wrapper input[type=checkbox]').eq(0).on('click', function(){
              var th_checked = this.checked;//checkbox inside "TH" table header

              $('#dynamic-table').find('tbody > tr').each(function(){
                  var row = this;
                  if(th_checked) myTable.row(row).select();
                  else  myTable.row(row).deselect();
              });
          });

          //select/deselect a row when the checkbox is checked/unchecked
          $('#dynamic-table').on('click', 'td input[type=checkbox]' , function(){
              var row = $(this).closest('tr').get(0);
              if(this.checked) myTable.row(row).deselect();
              else myTable.row(row).select();
          });



          $(document).on('click', '#dynamic-table .dropdown-toggle', function(e) {
              e.stopImmediatePropagation();
              e.stopPropagation();
              e.preventDefault();
          });



          //And for the first simple table, which doesn't have TableTools or dataTables
          //select/deselect all rows according to table header checkbox
          var active_class = 'active';
          $('#simple-table > thead > tr > th input[type=checkbox]').eq(0).on('click', function(){
              var th_checked = this.checked;//checkbox inside "TH" table header

              $(this).closest('table').find('tbody > tr').each(function(){
                  var row = this;
                  if(th_checked) $(row).addClass(active_class).find('input[type=checkbox]').eq(0).prop('checked', true);
                  else $(row).removeClass(active_class).find('input[type=checkbox]').eq(0).prop('checked', false);
              });
          });

          //select/deselect a row when the checkbox is checked/unchecked
          $('#simple-table').on('click', 'td input[type=checkbox]' , function(){
              var $row = $(this).closest('tr');
              if($row.is('.detail-row ')) return;
              if(this.checked) $row.addClass(active_class);
              else $row.removeClass(active_class);
          });



          /********************************/
          //add tooltip for small view action buttons in dropdown menu
          $('[data-rel="tooltip"]').tooltip({placement: tooltip_placement});

          //tooltip placement on right or left
          function tooltip_placement(context, source) {
              var $source = $(source);
              var $parent = $source.closest('table')
              var off1 = $parent.offset();
              var w1 = $parent.width();

              var off2 = $source.offset();
              //var w2 = $source.width();

              if( parseInt(off2.left) < parseInt(off1.left) + parseInt(w1 / 2) ) return 'right';
              return 'left';
          }




          /***************/
          $('.show-details-btn').on('click', function(e) {
              e.preventDefault();
              $(this).closest('tr').next().toggleClass('open');
              $(this).find(ace.vars['.icon']).toggleClass('fa-angle-double-down').toggleClass('fa-angle-double-up');
          });
          /***************/





          /**
           //add horizontal scrollbars to a simple table
           $('#simple-table').css({'width':'2000px', 'max-width': 'none'}).wrap('<div style="width: 1000px;" />').parent().ace_scroll(
           {
					horizontal: true,
					styleClass: 'scroll-top scroll-dark scroll-visible',//show the scrollbars on top(default is bottom)
					size: 2000,
					mouseWheelLock: true
				  }
           ).css('padding-top', '12px');
           */


      })
  </script>
<% end %>