default: &default

development:
  <<: *default
  host: 127.0.0.1
  port: 3306
  username: root
  password:
  database: my_blog_dev

production:
  <<: *default
  host: 127.0.0.1
  port: 3306
  username: root
  password:
  database: my_blog_pro

test:
  <<: *default
  host: 127.0.0.1
  port: 3306
  username: root
  password:
  database: my_blog_test