default: &default
  adapter: mysql2
  encoding: utf8
  host: 127.0.0.1
  user: root
  password:
  pool: <%= ENV.fetch("RAILS_MAX_THREADS") { 5 } %>

development:
  <<: *default
  database: virus_blog_dev

test:
  <<: *default
  database: virus_blog_test

production:
  <<: *default
  database: virus_blog_pro
  secret_key_base: <%= ENV["secret_key_base"] %>