<div class="sidebar">
  <div class="widget widget_hot">
    <h3>最新文章</h3>
    <ul>
      <% unless @new_articles.blank? %>
        <% @new_articles.each do |art| %>
          <li>
<!--            <a title="" href="#">-->
            <%= link_to detail_home_path(id:art.id) do %>
              <span class="text"><%= art.title %></span>
              <span class="muted">
                        <i class="glyphicon glyphicon-time"></i>
                        <%= art.created_at.strftime("%Y-%m-%d") %>
                    </span>
              <span class="muted">
                        <i class="glyphicon glyphicon-eye-open"></i>  <%= art.try(:view_records_count) %>
                    </span>
            <% end %>
          </li>
        <% end %>
      <% else %>
      <% end %>

    </ul>
  </div>
  <div class="widget widget_category">
    <h3>文章分类</h3>
    <ul>
      <%# @categories.each do |cate| %>
<!--        <li>-->
          <%#= link_to root_path(category_id:cate.id) do %>
<!--            <span class="text"> <%#=cate.try(:name) %></span><span class="count" style="margin-left: 150px"><%#= cate.articles.is_show_home.size %>篇</span>-->
          <%# end %>
<!--        </li>-->
      <%# end %>
    </ul>
  </div>
  <div class="widget widget_category">
    <h3>归档</h3>
    <ul>
      <%# @time_file.each do |k,v| %>
<!--        <li>-->
          <%#= link_to root_path(create_time:k.strftime("%Y-%m-%d")) do %>
<!--            <span class="text"> <%#= k.strftime("%Y年%m月") %></span><span class="count" style="margin-left: 150px"><%#= v.size %>篇</span>-->
          <%# end %>
<!--        </li>-->
      <%# end %>

    </ul>
  </div>
  <div class="widget widget_sentence">
    <h3>标签云</h3>
    <ul>
      <%# @tags.each do |tag| %>
<!--        <li>-->
          <%#= link_to root_path(tag_id:tag.id) do %>
<!--            <%#= tag.try(:name) %> <span class="badge"><%#= tag.articles.is_show_home.size %></span>-->
          <%# end %>
<!--        </li>-->
      <%# end %>
    </ul>
  </div>
</div>