<div class="form-group">
  <label class="col-sm-3 control-label no-padding-right" for="form-field-1"> CheckBox </label>

  <div class="col-sm-9">
    <div class="checkbox">
      <label>
        <input name="form-field-checkbox" type="checkbox" class="ace" />
        <span class="lbl"> choice 1</span>
      </label>
      <label>
        <input name="form-field-checkbox" type="checkbox" class="ace" />
        <span class="lbl"> choice 2</span>
      </label>
    </div>
  </div>
</div>