<div class="form-group">
  <label class="col-sm-3 control-label no-padding-right" for="id-date-range-picker-1">Date Range Picker</label>

  <div class="col-sm-9">
    <div class="input-group col-xs-10 col-sm-5">

      <input class="form-control date-range-picker" type="text" name="date-range-picker" id="id-date-range-picker-1" />
      <span class="input-group-addon">
                                  <i class="fa fa-calendar bigger-110"></i>
                                </span>
    </div>
  </div>
</div>