<div class="form-group">
  <label class="col-sm-3 control-label no-padding-right" for="form-field-date">Date Picker</label>

  <div class="col-sm-9">
    <div class="input-medium">
      <div class="input-group">
        <input class="input-medium date-picker" id="form-field-date" type="text" data-date-format="yyyy-mm-dd" placeholder="yyyy-mm-dd">
        <span class="input-group-addon">
																				<i class="ace-icon fa fa-calendar"></i>
																			</span>
      </div>
    </div>
  </div>
</div>