
<div class="form-group">
  <label class="col-sm-3 control-label no-padding-right" for="form-field-1"> File Field </label>

  <div class="col-sm-9">
    <div class="form_group col-xs-10 col-sm-5">
      <input type="file" id="id-input-file-2" />
    </div>
  </div>
</div>