<div class="form-group">
  <label class="col-sm-3 control-label no-padding-right" for="form-field-5">Grid Sizing</label>

  <div class="col-sm-9">
    <div class="clearfix">
      <input class="col-xs-1" type="text" id="form-field-5" placeholder=".col-xs-1" />
    </div>

    <div class="space-2"></div>

    <div class="help-block" id="input-span-slider"></div>
  </div>
</div>
