<div class="form-group">
  <label class="col-sm-3 control-label no-padding-right" for="form-field-select-4">Multiple Select 2</label>

  <div class="col-sm-9">
    <div class="input-group">
      <select multiple="" class="chosen-select form-control tag-input-style" id="form-field-select-4" data-placeholder="Choose a State...">
        <option value=""></option>
        <option value="AL">Alabama</option>
        <option value="AK">Alaska</option>
        <option value="AZ">Arizona</option>
        <option value="AR">Arkansas</option>
        <option value="CA">California</option>
        <option value="CO">Colorado</option>
        <option value="CT">Connecticut</option>
      </select>
    </div>
  </div>
</div>
