<div class="form-group">
  <label class="col-sm-3 control-label no-padding-right" for="form-field-select-2">Multiple Select</label>

  <div class="col-sm-9">
    <div class="input-group">
      <select class="form-control" id="form-field-select-2" multiple="multiple">
        <option value="AL">Alabama</option>
        <option value="AK">Alaska</option>
        <option value="AZ">Arizona</option>
        <option value="AR">Arkansas</option>
        <option value="CA">California</option>
        <option value="CO">Colorado</option>
        <option value="CT">Connecticut</option>
      </select>
    </div>
  </div>
</div>