<div class="form-group">
  <label class="col-sm-3 control-label no-padding-right" for="form-field-2"> Password Field </label>

  <div class="col-sm-9">
    <input type="password" id="form-field-2" placeholder="Password" class="col-xs-10 col-sm-5" />
    <span class="help-inline col-xs-12 col-sm-7">
												<span class="middle">Inline help text</span>
											</span>
  </div>
</div>