<div class="form-group">
  <label class="col-sm-3 control-label no-padding-right" for="form-field-4">Relative Sizing</label>

  <div class="col-sm-9">
    <input class="input-sm" type="text" id="form-field-4" placeholder=".input-sm" />
    <div class="space-2"></div>

    <div class="help-block" id="input-size-slider"></div>
  </div>
</div>
