<div class="form-group">
  <label class="col-sm-3 control-label no-padding-right" for="form-input-readonly"> Readonly field </label>

  <div class="col-sm-9">
    <input readonly="" type="text" class="col-xs-10 col-sm-5" id="form-input-readonly" value="This text field is readonly!" />
    <span class="help-inline col-xs-12 col-sm-7">
												<label class="middle">
													<input class="ace" type="checkbox" id="id-disable-check" />
													<span class="lbl"> Disable it!</span>
												</label>
											</span>
  </div>
</div>