<div class="form-group">
  <label class="col-sm-3 control-label no-padding-right" for="form-field-1"> Radio </label>

  <div class="col-sm-9">
    <div class="radio">
      <label>
        <input name="form-field-radio" type="radio" class="ace" />
        <span class="lbl"> radio option 1</span>
      </label>
      <label>
        <input name="form-field-radio" type="radio" class="ace" />
        <span class="lbl"> radio option 2</span>
      </label>
    </div>
  </div>
</div>
