<div class="form-group">
  <%= f.label field.to_sym, class:"col-sm-3 control-label no-padding-right" %>

  <div class="col-sm-9">
    <%= f.text_field field.to_sym, class:"col-xs-10 col-sm-5", placeholder: placeholder, required:required  %>
  </div>
</div>